<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav *ngIf="adminnav.avisible" class="navbar navbar-expand-lg navbar-light bg-dark">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-right: 0px;" id="mySidenav" class="sidenav">
        <a class="nav-link"><b>Library Management System</b></a>
      </li>
      <li class="nav-item active" style="margin-right: 5px;" >
        <a class="nav-link" style="color: white;"><b>LMS</b></a>
      </li>
      <li class="nav-item active" style="margin-right: 20px;">
        <a class="nav-link" routerLink="/adminhome" style="color: white;"><i class="fa fa-fw fa-home"></i> HOME</a>
      </li>

      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink='/users' style="color: white;"><i class="fa fa-fw fa-user-o"></i> USERS</a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink="" style="color: white;"><i class="fa fa-file"></i> TRANSACTION</a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink='/addbooks' style="color: white;"><i class="fa fa-book"></i> BOOKS</a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink="" style="color: white;"><i class="fa fa-users"></i> MEMBER</a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink="" style="color: white;"><i class="fa fa-archive"></i> ARCHIVE</a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" routerLink="" style="color: white;"><i class="fa fa-search" aria-hidden="true"></i>ADVANCE
          SEARCH</a>
      </li>
      <li class="nav-item " style="margin-right: 50px;">
        <a class="nav-link" routerLink='/home' style="color: white;"><i class="fa fa-sign-out"
            aria-hidden="true"></i>LOGOUT</a>
      </li>
      <li class="nav-item " style="float: right;">
        <a class="nav-link" href="#" style="color:brown;"><b>WELCOME: LIBRARIAN</b></a>
      </li>

    </ul>

  </div>
</nav>

<div class="image">
  <div class="btnplus">
    <a routerLink="/addusers" routerLinkActive="active"><button type="button" class="btn " id="plus" >
        <span class="badge badge-light">+</span> Add Users
    </button>
  </a>
</div>
<div class="userstable">
  <a class="fa fa-user fa-fw icon" >UsersTable</a>
</div>
<div class="drpdwn">
<form>
  <input type="number" min="1" max="100" value="1" class="numberdrpdwn">
  <span class="drpdwntxt">records per page</span>
  
</form>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">USERNAME</th>
      <th scope="col">PASSWORD</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">EMAIL ADDRESS</th>
      <th scope="col">MOBILE NUMBER</th>
      <th scope="col">DATE OF BIRTH</th>
      <th scope="col">ACTION</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>